@using AdvertisingBillboard.Domain
@using AdvertisingBillboard.Web.Models
@model AdvertisingBillboard.Web.Models.AdministratorPageViewModel
@{
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}


<br />
    <a class="button btn-primary col-2" href="@Url.Action("Index", "Auth")">Return to Authentification Page</a>
<br />

<div class="row">
    <span class="col-2"></span>
    <span class="col-3">Number of users: @Model.Users.Length</span>
    <span class="col-3">Number of devices: @Model.Devices.Length</span>
    <span class="col-2">Number of videos: @Model.Videos.Length</span>
    <span class="col-2"></span>
</div>

<br>

<ul class="nav nav-tabs">
    <li class="col-2"></li>
    <li class="active col-3">
        <a data-toggle="tab" href="#manageUsers">Manage users</a>
    </li>
    <li class="active col-3">
        <a data-toggle="tab" href="#manageDevices">Manage Devices</a>
    </li>
    <li class="active col-2">
        <a data-toggle="tab" href="#videos">Videos</a>
    </li>
    <li class="col-2"></li>
</ul>

<div class="tab-content">
    <div id="manageUsers" class="tab-pane fade ">
        <br>
        <div class="container">
            <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#add_user">
                Add user
            </button> 
            
            <br> 
            <br>
            
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>User's name</th>
                    <th>Devices</th>
                    <th></th>
                </tr>
                <tr>
                    @{
                        foreach (UserViewModel user in Model.Users)
                        {
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.Name</td>
                                <td>
                                    <ul>
                                        @foreach (Device device in user.Devices)
                                        {
                                            <li>@device.Name</li>
                                        }
                                    </ul>
                                </td>
                                <td>
                                    <!--HOW TO DELETE VIDEO? -->
                                    <form method="post" action="@Url.Action("Delete", "Admin", new {id = user.Id })">
                                        <button type="submit" class="btn btn-danger" value="Submit">
                                            Delete user
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                    </tr>
                </table>
            </div>

            <!-- Modal -->
            <div id="add_user" class="modal fade in active" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Add user</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="~/Admin/AddUser">
                                <input placeholder="Name" name="name" required /> 
                                <br /> 
                                <br />
                                <input type="submit" class="btn btn-success" value="Submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- MANAGE DEVICES PART -->

    <div id="manageDevices" class="tab-pane fade">
        <br>
        <div class="container">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_device">Add device</button>

            <!-- Modal -->
            <div id="add_device" class="modal fade in active" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Add device</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="~/Device/Add" name="addDevice">
                                <input placeholder="Name" name="deviceName" required /> <br /> <br />
                                <input placeholder="Memory value" name="memoryValue" required /> <br /><br />
                                <select size="1" name="userName" required>
                                    @foreach(UserViewModel user in Model.Users)
                                    {
                                        <option>@user.Name</option>
                                    }
                                </select>
                                <!-- here we should implement a dropdown list instead of typing name of the user -->
                                <br /><br />
                                <input type="submit" class="btn btn-success" value="Submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <button class="btn btn-success">Create new group</button>
            <button class="btn btn-success">Upload a timetable</button>
            <button class="btn btn-warning">Export the timetable</button>
            <br> <br>
                 <table class="table">
                     <tr>
                         <th>Device name</th>
                         <th>Memory</th>
                         <th>User</th>
                         <th></th>
                     </tr>
                     @{
                         foreach (Device device in Model.Devices)
                         {
                             <tr>
                                 <td>@device.Name</td>
                                 <td>@device.Memory</td>
                                 <td>@device.User.Name</td>
                                 <td>
                                    <form method="post" action="@Url.Action("Delete", "Device", new {name = device.Name })">
                                        <button type="submit" class="btn btn-danger" value="Submit">
                                            Delete device
                                        </button>
                                    </form>
                                 </td>
                             </tr>
                         }
                     }
                 </table>
        </div>
        <br>
    </div>

    <!-- VIDEOS PART-->
    <div id="videos" class="tab-pane fade">
        <br>
        <div class="container">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#uploadVideo">Upload video</button> <br /> <br />

            <!-- Modal -->
            <div id="uploadVideo" class="modal fade in active" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Upload Video</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="~/Admin/UploadVideo" name="uploadVideo">
                                <input class="text" type="text" name="videoName" placeholder="Name of the video" required /> <br><br>
                                <select name="deviceName" required>
                                    @{
                                        foreach (UserViewModel user in Model.Users)
                                        {
                                            <option disabled>
                                                @user.Name
                                            </option>
                                            foreach (Device device in user.Devices)
                                            {
                                                <option>
                                                    @device.Name
                                                </option>
                                            }
                                        }
                                    }
                                    </select> <br><br>
                                <input class="btn btn-default" type="file" name="videoAddress" required /><br><br>
                                <input class="btn btn-success" type="submit" value="Submit" />
                                <br /><br />
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table">
                <tr>
                    <th>Video</th>
                    <th>Amount of clicks</th>
                    <th>Amount of views</th>
                    <th>Working time</th>
                    <th></th>
                </tr>
                @foreach (var currentVideo in Model.Videos)
                {
                    <tr>
                        <td>
                            <a href="~/video/@currentVideo.Address">@currentVideo.Name</a>
                        </td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>
                            @* <form method="post" action="@Url.Action("DeleteVideo", "Admin", new {name = currentVideo.Name })"> *@
                            @*     <button type="submit" class="btn btn-danger" value="Submit"> *@
                            @*         Delete video *@
                            @*     </button> *@
                            @* </form> *@
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>


<!-- Modal -->
<div id="access_device" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Device Name</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Device status: <span>default</span></p>
                <input type="button" class="btn btn-warning" value="Configure Memory"></input> <br> <br>
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Add device to the group <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">1st group</a></li>
                        <li><a href="#">2nd group</a></li>
                    </ul> <br> <br>
                    <input type="button" class="btn btn-warning" value="Choose Video"> <br> <br>
                    <input type="button" class="btn btn-warning" value="Edit the timetable"></input>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Modal -->
<div id="access_group" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Group Name</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Group status: <span>default</span></p>
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Add device to the group <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">1st device</a></li>
                        <li><a href="#">2nd device</a></li>
                    </ul> <br> <br>
                    <input type="button" class="btn btn-warning" value="Choose Video"></input> <br> <br>
                    <input type="button" class="btn btn-warning" value="Edit the timetable"></input> <br> <br>
                    <table class="table">
                        <tr>
                            <th>Device name</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Default_Name</th>
                            <th>
                                <input type="button" class="btn btn-danger" value="Delete device"></input>
                            </th>
                        </tr>
                    </table>
                    <input type="button" class="btn btn-danger" value="Delete group"></input>

                </div>
            </div>
        </div>

    </div>
</div>