@model AdvertisingBillboard.Web.Models.AdministratorPageViewModel
@{
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<br />
<a class="button btn-primary col-2" href="@Url.Action("Index", "Auth")">Return to Authentification Page</a>
<br />

<div class="row">
    <span class="col-2"></span>
    <span class="col-3">Number of users: @Model.Users.Length</span>
    <span class="col-3">Number of devices: @Model.Devices.Length</span>
    <span class="col-2">Number of videos: @Model.Videos.Length</span>
    <span class="col-2"></span>
</div>
<br>


<ul class="nav nav-tabs">
    <li class="col-2"></li>
    <li class="active col-3">
        <a data-toggle="tab" href="#users">Users</a>
    </li>
    <li class="active col-3">
        <a data-toggle="tab" href="#devices">Devices</a>
    </li>
    <li class="active col-2">
        <a data-toggle="tab" href="#videos">Videos</a>
    </li>
    <li class="col-2"></li>
</ul>
<div class="tab-content">
    <div id="users" class="tab-pane fade ">
        <br />
        @Html.Partial("Users")
    </div>
    <div id="devices" class="tab-pane fade">
        <br />
        @Html.Partial("Devices")
    </div>
    <div id="videos" class="tab-pane fade">
        <br />
        @Html.Partial("Videos")
    </div>
</div>





        <!-- Modal -->
        <div id="access_device" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Device Name</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Device status: <span>default</span></p>
                        <input type="button" class="btn btn-warning" value="Configure Memory"></input> <br> <br>
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Add device to the group <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">1st group</a></li>
                                <li><a href="#">2nd group</a></li>
                            </ul> <br> <br>
                            <input type="button" class="btn btn-warning" value="Choose Video"> <br> <br>
                            <input type="button" class="btn btn-warning" value="Edit the timetable"></input>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- Modal -->
        <div id="access_group" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Group Name</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Group status: <span>default</span></p>
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Add device to the group <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">1st device</a></li>
                                <li><a href="#">2nd device</a></li>
                            </ul> <br> <br>
                            <input type="button" class="btn btn-warning" value="Choose Video"></input> <br> <br>
                            <input type="button" class="btn btn-warning" value="Edit the timetable"></input> <br> <br>
                            <table class="table">
                                <tr>
                                    <th>Device name</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Default_Name</th>
                                    <th>
                                        <input type="button" class="btn btn-danger" value="Delete device"></input>
                                    </th>
                                </tr>
                            </table>
                            <input type="button" class="btn btn-danger" value="Delete group"></input>

                        </div>
                    </div>
                </div>

            </div>
        </div>
