@using AdvertisingBillboard.Domain
@model AdvertisingBillboard.Web.Models.ManageDevicesViewModel
@{
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<div class="row">
    <span class="col-2"></span>
    <span class="col-3">Number of users: @ViewBag.NumberOfUsers</span>
    <span class="col-3">Number of devices: @ViewBag.NumberOfDevices</span>
    <span class="col-2">Number of videos: @ViewBag.NumberOfVideos</span>
    <span class="col-2"></span>
</div>
<br>

<ul class="nav nav-tabs">
    <li class="col-2"></li>
    <li class="active col-3">
        <a data-toggle="tab" href="#manageUsers">Manage users</a>
    </li>
    <li class="active col-3">
        <a data-toggle="tab" href="#manageDevices">Manage Devices</a>
    </li>
    <li class="active col-2">
        <a data-toggle="tab" href="#videos">Videos</a>
    </li>
    <li class="col-2"></li>
</ul>

<div class="tab-content">
    <div id="manageUsers" class="tab-pane fade ">
        <br>
        <div class="container">
            <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#add_user">Add user</button> <br> <br>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>User's name</th>
                    <th>Devices</th>
                    <th></th>
                </tr>
                <tr>
                    @{
                        foreach (User user in Model.users.Get())
                        {
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.Name</td>
                                <td>
                                    <ul>
                                        @foreach (Device device in user.devices)
                                        {
                                            <li>@device.deviceName</li>
                                        }
                                    </ul>
                                </td>
                                <td>
                                    <form method="post" action="@Url.Action("Delete", "Admin", new {id = user.Id })">
                                        <button type="submit" class="btn btn-danger" value="Submit">
                                            Delete user
                                        </button>
                                    </form>
                                    <!--<input type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_user" value="Delete user">-->
                                </td>
                            </tr>
                        }
                    }
                    </tr>
                </table>
            </div>

            <!-- Modal -->
            <div id="add_user" class="modal fade in active" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Add user</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="~/Admin/AddUser">
                                <input placeholder="Name" name="name" required /> <br /> <br />
                                <input type="submit" class="btn btn-success" value="Submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div id="delete_user" class="modal fade in active" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Delete user</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete user?</p>
                            <form method="post" action="~/Admin/DeleteUser">
                                <input type="submit" class="btn btn-danger" value="Submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- MANAGE DEVICES PART -->

    <div id="manageDevices" class="tab-pane fade">
        <br>
        <div class="container">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_device">Add device</button>

            <!-- Modal -->
            <div id="add_device" class="modal fade in active" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Add device</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="~/Admin/AddDevice" name="addDevice">
                                <input placeholder="Name" name="deviceName" required /> <br /> <br />
                                <input placeholder="Memory value" name="memoryValue" required /> <br /><br />
                                <input placeholder="User name" name="userName"/>
                                <!-- here we should implement a dropdown list instead of typing name of the user -->
                                <br /><br />
                                <input type="submit" class="btn btn-success" value="Submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <button class="btn btn-success">Create new group</button>
            <button class="btn btn-success">Upload a timetable</button>
            <button class="btn btn-warning">Export the timetable</button>
            <br> <br>
                 <table class="table">
                     <tr>
                         <th>Device name</th>
                         <th>Memory</th>
                         <th>User</th>
                         <th></th>
                     </tr>
                     @{
                         foreach (Device device in Model.devices.Get())
                         {
                             <tr>
                                 <td>@device.deviceName</td>
                                 <td>@device.memory</td>
                                 <td>@device.user.Name</td>
                                 <td>
                                     <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_user">Delete device</button>
                                 </td>
                             </tr>
                         }
                     }
                 </table>
        </div>
        <br>
    </div>

    <!-- VIDEOS PART-->
    <div id="videos" class="tab-pane fade">
        <br>
        <div class="container">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#uploadVideo">Upload video</button> <br />

            <!-- Modal -->
            <div id="uploadVideo" class="modal fade in active" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Upload Video</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="~/Admin/UploadVideo" name="uploadVideo">
                                <input class="text" type="text" name="videoName" required /> <br><br>
                                <input class="text" type="text" name="deviceName" required /> <br><br>
                                <input class="btn btn-default" type="file" name="videoAddress" required /><br><br>
                                <input class="btn btn-success" type="submit" value="Submit" />
                                <br /><br />
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table">
                <tr>
                    <th>Video</th>
                    <th>Amount of clicks</th>
                    <th>Amount of views</th>
                    <th>Working time</th>
                    <th></th>
                </tr>
                @foreach (var currentVideo in Model.videos.Get())
                {
                <tr>
                    <td>
                        <a href="~/video/@currentVideo.address">@currentVideo.name</a>
                    </td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td><button class="btn btn-danger btn-xs">Delete video</button></td>
                </tr>
                }
                </table>
        </div>
    </div>

</div>


<!-- Modal -->
<div id="access_device" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Device Name</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Device status: <span>default</span></p>
                <input type="button" class="btn btn-warning" value="Configure Memory"></input> <br> <br>
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Add device to the group <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">1st group</a></li>
                        <li><a href="#">2nd group</a></li>
                    </ul> <br> <br>
                    <input type="button" class="btn btn-warning" value="Choose Video"> <br> <br>
                    <input type="button" class="btn btn-warning" value="Edit the timetable"></input>
                </div>
            </div>
        </div>

    </div>
</div>
    </div>


<!-- Modal -->
<div id="access_group" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Group Name</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Group status: <span>default</span></p>
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Add device to the group <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">1st device</a></li>
                        <li><a href="#">2nd device</a></li>
                    </ul> <br> <br>
                    <input type="button" class="btn btn-warning" value="Choose Video"></input> <br> <br>
                    <input type="button" class="btn btn-warning" value="Edit the timetable"></input> <br> <br>
                    <table class="table">
                        <tr>
                            <th>Device name</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Default_Name</th>
                            <th>
                                <input type="button" class="btn btn-danger" value="Delete device"></input>
                            </th>
                        </tr>
                    </table>
                    <input type="button" class="btn btn-danger" value="Delete group"></input>

                </div>
            </div>
        </div>

    </div>
</div>